.App {
  color: red;
  &>.open{
    background-color: #000;
  }
  .App-header {
    .App-intro {
      color: greenyellow;
      &:hover{
        font-size: 25px;
      }
    
      &.active{
        background-color: aqua;
        &:hover{
          font-size: 12px;
        }
      }
    }
  } 
}
.App-intro{
  color: #000;
}
